[submodule "analysis/analysis/gemini3d"]
	path = analysis/analysis/gemini3d
	url = https://github.com/gemini3d/gemini3d.git
[submodule "analysis/analysis/mat_gemini"]
	path = analysis/analysis/mat_gemini
	url = https://github.com/gemini3d/mat_gemini.git
[submodule "analysis/analysis/mat_gemini-scripts"]
	path = analysis/analysis/mat_gemini-scripts
	url = https://github.com/gemini3d/mat_gemini-scripts.git
[submodule "analysis/gemini3d"]
	path = analysis/gemini3d
	url = https://github.com/gemini3d/gemini3d.git
[submodule "analysis/mat_gemini-scripts"]
	path = analysis/mat_gemini-scripts
	url = https://github.com/gemini3d/mat_gemini-scripts.git
[submodule "analysis/mat_gemini"]
	path = analysis/mat_gemini
	url = https://github.com/gemini3d/mat_gemini.git
[submodule "analysis/aurora_gemini"]
	path = analysis/aurora_gemini
	url = https://github.com/317Lab/aurora_gemini.git
